<div class="row">
  
  <div class="col-md-4">
    <h3 id="syllabus-r">Spreadsheet</h3>
    <ul>
      <li>Introduction to spreadsheet</li>
      <li>formating Data Tables </li>
      <li>Formating Problems</li>
      <li>Dates as data</li>
      <li>Quality Control</li>
      <li>Export data</li>
      <li><a href="{{site.dc_pages}}/spreadsheet-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
  
    <div class="col-md-4">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Data faceing with OpenRefine</li>
      <li>Clustering With OpenRefine</li>
     <li><a href="{{site.dc_pages}}/OpenRefine-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
  
    <div class="col-md-4">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Introduction to R</li>
      <li>Starting with data</li>
      <li>Aggregating and analyzing data with dplyr</li>
      <li>Data visualization with ggplot2</li>
      <li><a href="{{site.dc_pages}}/R-ecology-lesson/reference">Reference...</a></li>
    </ul>
   </div>
    <h3 id="syllabus-shell"> R Markdown</h3>
    <ul>
      <li> Basics of Makdown </li>
      <li> Output formats</li>
      <li>Slide Presentations</li>
      <li><a href="https://bookdown.org/yihui/rmarkdown/basics.html">Reference...</a></li>
    </ul>
  </div>
  </div>
  <!--
  <div class="col-md-4"><div class="row">
  
  <div class="col-md-4">
    <h3 id="syllabus-r">Spreadsheet</h3>
    <ul>
      <li>Introduction to spreadsheet</li>
      <li>formating Data Tables </li>
      <li>Formating Problems</li>
      <li>Dates as data</li>
      <li>Quality Control</li>
      <li>Export data</li>
      <li><a href="{{site.dc_pages}}/spreadsheet-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
  
    <div class="col-md-4">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Data faceing with OpenRefine</li>
      <li>Clustering With OpenRefine</li>
     <li><a href="{{site.dc_pages}}/OpenRefine-ecology-lesson/reference/">Reference...</a></li>
    </ul>
    </div>
  
    <div class="col-md-4">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Introduction to R</li>
      <li>Starting with data</li>
      <li>Aggregating and analyzing data with dplyr</li>
      <li>Data visualization with ggplot2</li>
      <li><a href="{{site.dc_pages}}/R-ecology-lesson/reference">Reference...</a></li>
    </ul>
   </div>
  
</div>
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference/">Reference...</a></li>
    </ul>
  </div>
-->
</div>
 
